*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html{
    padding: 0;
    margin: 0;
}

.container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
}

.footer{
    color: whitesmoke;
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 100px;
    padding: 0px;
}
.header{
    color: whitesmoke;
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    padding: 4px;
}

img{
    border-radius: 3px;
    width: 15.8%;
    height: 15.8%;
}

img:hover{
    cursor: pointer;
    width: 18.6%;
    height: 18.6%;
    filter: drop-shadow(0px 5px 4px rgb(255, 255, 255));
}

.galeria{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}